<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">
      jdbc:mysql://eu-cdbr-azure-north-c.cloudapp.net/as_1e3b9273989bc6e
   	</property>
   	<property name="hibernate.connection.username">b6b7f8d99c76f5</property>
   	<property name="hibernate.connection.password">2b9895e9</property>
	<property name="connection.release_mode">on_close</property>

    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<mapping resource="/uk/co/luciditysoftware/campervibe/data/mappings/Depot.hbm.xml"/>
	<mapping resource="/uk/co/luciditysoftware/campervibe/data/mappings/Vehicle.hbm.xml"/>
	<mapping resource="/uk/co/luciditysoftware/campervibe/data/mappings/Booking.hbm.xml"/>
  </session-factory>
</hibernate-configuration>